<div class="main-content">

    <div class="services-items container clearfix ">
        <div class="service-item bucket">
            <span>Materials</span>
            <div></div>
            <em>for any taste</em>
            <a href="under_construction.html"></a>
        </div>

        <div class="service-item drill">
            <a href="under_construction.html"></a>
            <span>Tools</span>
            <div></div>
            <em>For any purpose</em>
        </div>

        <div class="service-item tractor">
            <a href="under_construction.html"></a>
            <span>Machines</span>
            <div></div>
            <em>For building</em>
        </div>

        <!--SLIDER-->
        <div class="slider">
            <input type="radio" id="btn-1" name="toggle" checked>
            <input type="radio" id="btn-2" name="toggle">
            <div class="slider-controls">
                <label for="btn-1"></label>
                <label for="btn-2"></label>
            </div>

            <!--                Arrows-->


            <div class="slides">
                <!--slide1-->
                <div class="slide1">
                    <div class="slide-text">
                        <div class="slide-title">Hammer Drills</div>
                        <p>Your Neighbors Will Be Happy!</p>

                        <label for="btn-1"><i class="sprite sprite-left"></i></label>

                        <label for="btn-2"><i class="sprite sprite-right"></i></label>

                        <a class="btn" href="catalog.php">Catalog</a>
                    </div>
                    <!--slide2-->
                </div>

                <div class="slide2">
                    <div class="slide-text">
                        <div class="slide-title">Hammer Drills</div>
                        <p>Men's toys!</p>
                        <label for="btn-1"><i class="sprite sprite-left"></i></label>

                        <label for="btn-2"><i class="sprite sprite-right"></i></label>

                        <a class="btn" href="catalog.php">Catalog</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="service-item cart">
            <a href="under_construction.html"></a>
            <span>50% Offer</span>
            <div></div>
            <em>For 350 items</em>
        </div>

        <div class="service-item truck">
            <a href="#"></a>
            <span>Delivery</span>
            <div></div>
            <em>free</em>
        </div>

    </div>

    <!--        POPULAR GOODS-->

    <div class="popular-goods container clearfix">

        <div class="popular-goods-heading">
            <span>Popular Goods</span>
            <a href="under_construction.html" class="btn">All popular goods</a>
        </div>

        <div class="row">
            <div class="catalog-item">
                <div class="flag"></div>
                <div class="actions">
                    <a href="under_construction.html"><i class="icon-basket"></i>buy now</a>


                    <a href="under_construction.html">bookmark</a>
                </div>
                <img src="img/drill.jpg">

                <div class="text">
                    <div><span class="name">Hammer Drill MAKITA</span>
                        <span class="power-type">Battery</span>
                    </div>
                    <div>22 500 $</div>
                    <div class="price">15500 $</div>
                </div>
            </div>
            <div class="catalog-item">

                <div class="actions">
                    <a href="under_construction.html"><i class="icon-basket"></i>buy now</a>

                    <!--                            <div class="added"></div>-->
                    <a href="under_construction.html">bookmark</a>
                </div>
                <img src="img/drill.jpg">

                <div class="text">
                    <div><span class="name">Hammer Drill HITACHI</span>
                        <span class="power-type">Adapter</span>
                    </div>
                    <div>20 500 $</div>
                    <div class="price">10500 $</div>
                </div>
            </div>
            <div class="catalog-item">
                <div class="flag"></div>
                <div class="actions">
                    <a href="under_construction.html"><i class="icon-basket"></i>buy now</a>

                    <!--                            <div class="added"></div>-->
                    <a href="under_construction.html">bookmark</a>
                </div>
                <img src="img/drill.jpg">

                <div class="text">
                    <div><span class="name">Hammer Drill DEWALT</span>
                        <span class="power-type">Battery</span>
                    </div>
                    <div>22 500 $</div>
                    <div class="price">15500 $</div>
                </div>
            </div>

            <div class="catalog-item">

                <div class="actions">
                    <a href="under_construction.html"><i class="icon-basket"></i>buy now</a>

                    <!--                            <div class="added"></div>-->
                    <a href="under_construction.html">bookmark</a>
                </div>
                <img src="img/drill.jpg">

                <div class="text">
                    <div><span class="name">Hammer Drill BOSCH</span>
                        <span class="power-type">Battery</span>
                    </div>
                    <div>22 500 $</div>
                    <div class="price">15500 $</div>
                </div>
            </div>

        </div>
    </div>

    <!--POPULAR MANUFACTURERS        -->

    <div class="popular-manufacturers container clearfix">
        <div>
            <span>Popular manufacturers</span>
            <a href="under_construction.html" class="btn">all Popular manufacturers</a>
        </div>

        <a href="under_construction.html">
            <img src="../../img/bosh.jpg" alt="BOSCH" width="218px" height="145px">
        </a>
        <a href="under_construction.html">
            <img src="../../img/makita.jpg" alt="Makita" width="218px" height="145px">
        </a>
        <a href="under_construction.html">
            <img src="../../img/dewalt.jpg" alt="DeWALT" width="218px" height="145px">
        </a>
        <a href="under_construction.html">
            <img src="../../img/interskol.jpg" alt="Intersckol" width="218px" height="145px">
        </a>
        <a href="under_construction.html">
            <img src="../../img/hitachi.jpg" alt="HITACHI" width="218px" height="145px">
        </a>
        <a href="under_construction.html">
            <img src="../../img/lg.jpg" alt="LG" width="218px" height="145px">
        </a>
        <a href="under_construction.html">
            <img src="../../img/aeg.jpg" alt="AEG" width="220px" height="145px">
        </a>
        <a href="under_construction.html">
            <img src="../../img/metabo.jpg" alt="Metabo" width="220px" height="145px">
        </a>
    </div>




    <div class="services-paragraphs">
        <div class="container clearfix">
            <div class="shop">
                <h2>Services</h2>
                <p>Suspendisse potenti. Pellentesque euismod ex nisi, non tincidunt velit accumsan et.<br> Fusce eleifend, ex at blandit euismod, sem libero facilisis felis, ut sodales enim metus vitae an.</p>
            </div>

            <ul class="menu-services">
                <li><a href="under_construction.html" class="active">Delivery</a>
                </li>
                <li><a href="under_construction.html">Warranty</a>
                </li>
                <li><a href="under_construction.html">Credit</a>
                </li>
            </ul>

            <div class="transport">
                <h2>Dilivery</h2>
                <p>Pellentesque euismod ex nisi, non tincidunt velit accumsan et. Fusce eleifend!</p>
            </div>
            <div>
                <img src="../../img/truck.png" alt="truck" width="210px" height="147px ">
            </div>
        </div>
    </div>



    <div class="about container clearfix">
        <!--            left block-->
        <div class="technomart-company">
            <h1>Technomart Company</h1>
            <p class="paragraph-first">Suspendisse potenti. Pellentesque euismod ex nisi, non tincidunt velit accumsan et. Fusce eleifend, ex at blandit euismod, sem libero facilisis felis, ut sodales enim metus vitae ante.</p>
            <p class="paragraph-second">Phasellus vitae pulvinar dui. Suspendisse a mauris massa. Quisque ullamcorper tempus sem, et pretium velit pellentesque in. Nullam lectus turpis:</p>
            <ul class="about-list">
                <li>Nullam</li>
                <li>Quisque</li>
                <li>Pellentesque</li>
            </ul>
            <a href="under_construction.html" class="btn">More about us</a>
        </div>

        <!--right block-->
        <div class="map-section">
            <h1>Contacts</h1>

            <p>You can take your package by yourself, <br>by visiting our office.</p>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3381.100204365449!2d34.7727431!3d32.066538400000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4c82615898bb%3A0x4e29f2de036e413d!2sNakhmani+St+1%2C+Tel+Aviv-Yafo!5e0!3m2!1sen!2sil!4v1442075509347" width="300" height="160" frameborder="0" style="border:0" allowfullscreen></iframe>

                <a href="under_construction.html" class="btn">Can't find us? Write us!</a>


            </div>

        </div>
    </div>

</div>
